@{ ViewBag.Title = "My Podcasts"; }


<!--Link to the baconsale website-->
<div class="text-center">
    <p>Want to listen to the Baconsale podcast?</p>
    <a href="https://baconsale.com/" target="_blank" class="btn btn-primary">Listen</a>
</div>